/* Reset and basic styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('background.gif');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #ffffff; /* Dark gray text */
}

header {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.397); /* Slightly transparent white */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

header h1 {
    font-size: 2.5rem;
    font-weight: 700; /* Bold */
    letter-spacing: 1px;
}

main {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro {
    max-width: 600px;
    text-align: center;
    margin-bottom: 40px;
}

.intro p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.avatar {
    margin-bottom: 20px;
}

.avatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #0000009a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.social {
    margin-top: 20px;
    text-align: center;
}

.social h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons a {
    display: inline-block;
    margin: 0 15px;
    transition: transform 0.3s ease;
}

.social-icons a:hover {
    transform: translateY(-3px);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.55); /* Slightly transparent white */
    box-shadow: 0 -2px 4px rgb(0, 0, 0); /* Subtle shadow */
}
